/* Estilos base del formulario */
.form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
  background: rgb(17, 16, 16);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.form::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, #bcb1bc, #00ffe541, #b0a9b0, #00ffe5b5);
  background-size: 400% 400%;
  z-index: -1;
  filter: blur(5px);
  animation: animatedBorder 10s ease infinite;
}

@keyframes animatedBorder {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.form:hover {
  transform: translateY(-10px);
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ba35e2;
}

/* Estilos de las etiquetas */
.label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #fffbfb;
}

/* Estilos de los campos de texto */
.formControl {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formControl:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Estilo del botón */
.submitBtn {
  background-color: #ba35e2;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Estilos para checkbox */
.habeasData {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.formCheckInput {
  margin-right: 10px;
  cursor: pointer;
  color: #ba35e2;
}

/* Efecto de foco para todos los campos */
.formControl:hover {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

